@font-face {
  font-family: "local_oswald";
  src: url("../fonts/Oswald-Regular.ttf");
}

* { font-family: 'local_oswald';
}

body {
  background-color: #e8e8e0
}

a { text-decoration:none; }
a:link { color:#7a7a7a; }
a:visited { color:#7a7a7a; }

@media only screen {

  #dragsrc {
    border:none;
    background-color:#9a9a9a;
  }

  .waveform_slots ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    gap: 8px;
  }
  .waveform_slots li {
    flex: 0 0 49%;
    outline: 1px solid;
    display:flex;
    height:100px;
  }
  .mini_waveform_canvas {
    
    border:1px solid #282828;
    background-color: #282828;
    height:100%;
    width:100%;
  }
    
  .fine_print {
    font-size: 10pt;
  }

  .main_section { 
    margin:0px;
    display: flex;
    flex-direction: column;
    _width: 800px;
    padding: 0px;
  }

  .waveform {
    display: block;
    border:1px solid #282828;
    background-color: #282828;
    width: 100%;
    height: 240px;
    }
 
  .numeric {
    width:48px;
    border:none;
    background-color: #e8e8e0;
  }

}
